* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fcf5e9;
  --background-color: #f5f5f5;
  --dark-color: #333;
  --light-color: #fff;
  --container-normal: 1100px;
  --container-lg: 1400px;
  --container-sm: 900px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
}
.container-lg {
  max-width: var(--container-lg);
}
.container-sm {
  max-width: var(--container-sm);
}
/* Utilities */
.bg-primary {
  background: var(--primary-color);
  color: var(--dark-color);
}
.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.section-heading {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}
.bg-dark .bg-primary {
  padding: 0 0.3rem;
  border-radius: 5px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* header */
.header {
  margin: 1.5rem auto;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .logo {
  width: 130px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main-menu {
  display: flex;
  gap: 1rem;
}

.header .main-menu a {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  &:hover {
    background-color: var(--primary-color);
  }
}
.active {
  background: var(--primary-color);
  font-size: 600;
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h2 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: normal;
}

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.gallery-item {
  width: calc(33.3333% - 20px);
  border-radius: 10px;
  &:hover {
    opacity: 0.9;
  }
}
.gallery-item img {
  border-radius: 10px;
}
.transparent {
  opacity: 0.9;
}
.footer {
  border-top: 1px solid #aaa;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
}
.footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer img {
  width: 120px;
  height: 35px;
}
.footer h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.footer a {
  margin: 0.2rem;
}

/* Services */
.services {
  padding: 3rem 0 4rem;
}
.services-flex {
  display: flex;
  gap: 2rem;
}

.service-item h4 {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

/* Team */
.team {
  padding: 3rem 0 4rem;
}
.team-flex {
  display: flex;
  gap: 1.4rem;
}

.team img {
  border-radius: 10px;
}
/* Contact */
.contact {
  padding: 3rem 0.4rem;
}
.contact p {
  text-align: center;
  margin-bottom: 2rem;
}

.contact .form-group {
  margin: 2rem 0;
  padding: 0.5rem 0.7rem;
}
.form {
  margin: 0 auto;
}
.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
  outline: none;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;

  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
}
.contact button {
  width: 100%;
}

/* media query */
@media screen and (max-width: 768px) {
  .header-flex,
  .footer-flex,
  .services-flex,
  .team-flex {
    flex-direction: column;
    gap: 1.5rem;
  }
  .hero {
    height: 300px;
    h2 {
      font-size: 1.8rem;
    }
  }
  .gallery-item {
    width: calc(50% - 20px);
  }
  .footer .footer-flex {
    text-align: center;
  }
  .services-flex {
    text-align: center;
  }
  .hero {
    height: 400px;
  }
}
